services:
  app:
    build: ./nextcloud
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      - APACHE_BODY_LIMIT=0
      - PHP_MEMORY_LIMIT=1G
      - PHP_UPLOAD_LIMIT=16G
      - PHP_OPCACHE_MEMORY_CONSUMPTION=1024
    healthcheck:
     test: curl -sSfL http://localhost/status.php | jq -e '(.installed==true) and (.maintenance==false) and (.needsDbUpgrade==false)' || exit 1
     start_period: 30s
     interval: 15s
     timeout: 5s
    hostname: app
    ports:
      - "8080:80"
    runtime: nvidia
    gpus: all
    restart: unless-stopped
    volumes:
      - html:/var/www/html

  cron:
    build: ./nextcloud
    depends_on:
      app:
        condition: service_healthy
    entrypoint: ["/cron.sh"]
    restart: unless-stopped
    volumes_from:
      - app

  notify_push:
    build: ./nextcloud
    depends_on:
      app:
        condition: service_healthy
    environment:
      - NEXTCLOUD_URL=http://app
    entrypoint: ["/var/www/html/custom_apps/notify_push/bin/x86_64/notify_push", "/var/www/html/config/config.php"]
    ports:
      - "7867:7867"
    restart: unless-stopped
    stop_signal: SIGKILL
    volumes_from:
      - app

  imaginary:
    image: nextcloud/aio-imaginary:latest
    restart: unless-stopped

  redis:
    image: redis:8.2
    healthcheck:
      test: redis-cli ping || exit 1
      start_period: 30s
      interval: 15s
      timeout: 5s
    restart: unless-stopped
    tmpfs:
      - /data

  postgres:
    image: postgres:17.6
    environment:
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=nextcloud
      - POSTGRES_DB=nextcloud
    healthcheck:
      test: pg_isready -U nextcloud || exit 1
      start_period: 30s
      interval: 15s
      timeout: 5s
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
    tmpfs:
      - /docker-entrypoint-preinitdb.d
      - /docker-entrypoint-initdb.d

volumes:
  html:
    driver: local
    driver_opts:
      type: xfs
      o: discard
      device: /dev/disk/by-partuuid/59e25628-7b11-4416-a741-e419ace921e0

  postgres:
    driver: local
    driver_opts:
      type: xfs
      o: discard
      device: /dev/disk/by-uuid/7482e9df-e12c-4e9d-b2bd-169ce4c41ec9
