[Unit]
Description=Nextcloud background jobs
Requisite=nextcloud-compose.service
After=nextcloud-compose.service
PartOf=nextcloud-compose.service

[Timer]
OnCalendar=*:0/5
Unit=nextcloud-compose-jobs.service

[Install]
WantedBy=timers.target
