[Unit]
Description=Nextcloud background jobs
Requisite=nextcloud-compose.service

[Service]
Type=oneshot
WorkingDirectory=/var/lib/nextcloud/nextcloud-compose
ExecStart=/var/lib/nextcloud/nextcloud-compose/nextcloud.sh cron

[Install]
WantedBy=multi-user.target
