[Unit]
Description=Nextcloud
Requisite=docker.service
After=docker.service
Wants=nextcloud-compose-jobs.service

[Service]
WorkingDirectory=/opt/nextcloud-compose
ExecStart=/opt/nextcloud-compose/nextcloud.sh start
ExecStop=/opt/nextcloud-compose/nextcloud.sh stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
