[Unit]
Description=Nextcloud
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/nextcloud-compose
ExecStart=/opt/nextcloud-compose/nextcloud.sh start
ExecStop=/opt/nextcloud-compose/nextcloud.sh stop
ExecRestart=/opt/nextcloud-compose/nextcloud.sh restart
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
