[Unit]
Description=Nextcloud background jobs
Requisite=nextcloud-compose.service

[Service]
Type=oneshot
WorkingDirectory=/opt/nextcloud-compose
ExecStart=/opt/nextcloud-compose/nextcloud.sh cron

[Install]
WantedBy=multi-user.target
